:root {
  --primary-color: #8c0e2e !important;
  --primary-color-light: #be1640 !important;
  --primary-color-very-light: #f3c7cb !important;
  --primary-color-dark: #72152d !important;
  --primary-color-very-dark: #301923 !important;
  --primary-box-shadow-color: rgba(245, 34, 45, 0.3) !important;
  --primary-box-shadow-color-darker: rgba(245, 34, 45, 0.6) !important;
  --text-color-on-primary-color-bg: #ffffff !important;

  --card-border-radius: 1.2rem !important;

  --lm-card-bg-image: linear-gradient(#f7f7f7, #ced6e0) !important;
  --lm-card-border-color: #ffffff !important;
  --lm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) !important;

  --dm-card-bg-image: linear-gradient(#191c20, #111417) !important;
  --dm-card-border-color: rgba(255, 255, 255, 0.1) !important;
  --dm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) !important;

  --lm-input-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05) !important;

  --dm-input-box-shadow: var(--lm-input-box-shadow) !important;

  --lm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark)) !important;
  --lm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark)) !important;
  --lm-button-primary-bg-image-active: linear-gradient(var(--primary-color-dark), var(--primary-color-very-dark)) !important;
  --lm-button-primary-bg-image-active-hover: linear-gradient(var(--primary-color-dark), var(--primary-color-very-dark)) !important;

  --dm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark)) !important;
  --dm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark)) !important;
  --dm-button-primary-bg-image-active: linear-gradient(var(--primary-color-dark), var(--primary-color-very-dark)) !important;
  --dm-button-primary-bg-image-active-hover: linear-gradient(var(--primary-color-dark), var(--primary-color-very-dark)) !important;

  --image-to-primary-color-filter: invert(10%) sepia(59%) saturate(4471%) hue-rotate(332deg) brightness(104%) contrast(100%);

  --dm-input-border-color: var(--primary-color) !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c0e2e;
  border-radius: 10px;
  border: 3px solid #8c0e2e;
}

.iconbtn {
  border-radius: 3px;
  padding: 0.5rem;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.loading {
    animation: rotate 1s linear infinite;
    cursor: not-allowed;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:not(.loading):hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  &:not(.loading):active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
